<h1>Edit Rectangle</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.rectangle_path(@conn, :update, @rectangle)) %>

<span><%= link "Back", to: Routes.rectangle_path(@conn, :index) %></span>
